:root {
    --Pink: hsl(322, 100%, 66%);
    --Pale-cyan: hsl(193, 100%, 96%);
    --Dark-cyan: hsl(192, 100%, 9%);
    --Grayish-blue: hsl(208, 11%, 55%);

    --sm-btn-color: var(--Dark-cyan);
    --sm-btn-bg: white;
    --lg-btn-color: var(--Pale-cyan);
    --lg-btn-bg: var(--Pink);

    --ff-heading: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --ff-body: 'Open Sans', sans-serif;
    --ff-heading: 'Poppins', sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.8rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: var(--ff-body);
}
img {
    display: block;
    max-width: 100%;
}
p, h1 {
    overflow-wrap: break-word;
    text-align: center;
}
/*  */
main {
    background-color: white;
}
/*  */
.container {
    width: 90%;
    margin: 0 auto;
}
.d-flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
/*  */
.header {
    background-color: var(--Pale-cyan);
    padding-block: 5rem;
    background-image: url(images/bg-hero-desktop.svg);
}
.logo {
    width: 20rem;
}
.button {
    display: block;
    border: none;
    border-radius: 4rem;
    box-shadow: 0px 1px 3px var(--Grayish-blue);
    font-size: 1.8rem;
    font-weight: var(--fw-bold);
    padding: 2rem 8rem;
}
.sm-btn {
    background-color: var(--sm-btn-bg);
    color: var(--sm-btn-color);
}
.hero {
    padding-block: 5rem;
    gap: 4rem;
}
.hero__content {
    width: 55%;
}
h1 {
    font-size: 4.5rem;
    font-weight: var(--fw-bold);
    font-family: var(--ff-heading);
    text-align: left;
    margin-bottom: 3rem;
}
h3 {
    font-size: 3.5rem;
    font-weight: var(--fw-bold);
    font-family: var(--ff-heading);
}
p {
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 3rem;
}
.hero .d-flex-center {
    justify-content: flex-start;
}
.lg-btn {
    background-color: var(--lg-btn-bg);
    color: var(--lg-btn-color);
}
/*  */
.cards {
    margin-block: 10rem;
}
.cards.container{
    background-color: white;
}
.card {
    box-shadow: 0px 3px 10px var(--Grayish-blue);
    padding-block: 2rem;
    border-radius: 1rem;
    margin-block: 5rem;
    gap: 2rem;
}
.card__content {
    padding-inline: 10rem;
}
.card__content h3 {
    margin-bottom: 2rem;
}
.card__content p {
    font-size: 1.8rem;
    color: var(--Grayish-blue);
}
.card__image {
    padding: 2rem 5rem;
}
/*  */
.get-started {
    padding: 4rem;
    background-color: white;
    box-shadow: 0px 3px 10px var(--Grayish-blue);
    width: 50%;
    border-radius: 1rem;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.get-started h3 {
    margin-bottom: 3rem;
}
/*  */
.d-flex {
    display: flex;
    justify-items: center;
    gap: 2rem;
}
footer {
    padding-block: 12rem 6rem;
    background-color: var(--Dark-cyan);
    color: white !important;
    font-size: 1.8rem;
    margin-top: -6rem;
}
.grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 2rem;
}
footer .logo {
    margin-bottom: 3rem;
}
.address p {
    /* margin: 0; */
    color: rgba(255, 255, 255, 0.8);
}
.address i {
    margin-top: .5rem;
}
.about-us a, li {
    list-style: none;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    margin-bottom: 2rem;
}
.contact-us i {
    margin-right: 3rem;
}
.copyright {
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}
@media (max-width: 900px) {

    header {
        background-color: var(--Pale-cyan);
        background-image: url(images/bg-hero-mobile.svg);
    }
    main {
        min-width: 300px;

        display: grid;
        place-items: center;
    }
    .container {
        width: 90%;
    }
    .logo {
        width: 10rem;
    }
    .button {
        padding: 1rem 4rem;
    }
    .d-flex-center {
        flex-direction: column;
    }
    .hero__content {
        width: 100%;
    }
    h1 {
        font-size: 3rem;
        text-align: center;
    }
    h3 {
        font-size: 2.5rem;
        text-align: center;
    }
    p {
        text-align: center;
    }
    .card.d-flex-space {
        flex-direction: column;
    }
    .card:nth-child(odd) {
        flex-direction: column-reverse;
    }
    .card__content {
        padding-inline: 4rem;
        padding-block: 4rem;
    }
    .get-started {
        padding: 2rem;
        width: 80%;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .contact-us {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .copyright {
        justify-content: center;
    }
}